
@{
    ViewBag.Title = "Article";
}

@using GridMvc.Html;

@model IEnumerable <DAL.Article>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-article').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(p => p.Nom_art).Titled("Nom de l'article")
                               .Filterable(true);
    columns.Add(p => p.Categorie).Titled("Catégorie")
                                 .Filterable(true);
    columns.Add(p => p.Genre).Titled("Genre")
                             .Filterable(true);
    columns.Add(p => p.Quantite).Titled("Quantité")
                                .Sortable(true);
    columns.Add(p => p.Prix).Titled("Prix")
                            .Sortable(true);
    columns.Add(p => p.Date_ajout).Titled("Date de l'ajout")
                                  .Sortable(true);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(p => Html.ActionLink(" ", "EditArticle", new { id = p.ID }, new {@class= "glyphicon glyphicon-pencil" } ));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(p => "<button class='btn btn-default btn-delete-article' data-id='" + p.ID + "'> <span class='glyphicon glyphicon-trash' /> </button>");
}).WithPaging(7)

<div>
    @Html.ActionLink("Ajouter un nouveau article", "EditArticle")
</div>