
@{
    ViewBag.Title = "ListeClient";
}

@using GridMvc.Html;

@model IEnumerable<DAL.Client>

<h2>ListeClient</h2>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-customer').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.CustomerID).Titled("Civilité");
    columns.Add(c => c.Civility).Titled("Civilité");
    columns.Add(c => c.Name).Titled("Nom")
                           .Filterable(true);
    columns.Add(c => c.LastName).Titled("Prénom")
                              .Filterable(true);
    columns.Add(c => c.Address).Titled("Adresse")
                               .Filterable(true);
    columns.Add(c => c.PostalCode).Titled("Code Postal");
    columns.Add(c => c.City).Titled("Ville")
                             .Filterable(true);
    columns.Add(c => c.Phone).Titled("Téléphone")
                                        .Filterable(true);
    columns.Add(c => c.Email).Titled("Email")
                                             .Filterable(true);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(c => Html.ActionLink("Editer", "EditClient", new { id = c.CustomerID }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(c => "<button class='btn btn-default btn-delete-customer' data-id='" + c.CustomerID + "'> <span class='glyphicon glyphicon-remove-circle' /> </button>");
})

<div>
    @Html.ActionLink("Ajouter un nouveau client", "EditClient")
</div>