
@{
    ViewBag.Title = "ListeLocation";
}

@using GridMvc.Html;
@model IEnumerable<DAL.Location>

<h2>ListeLocation</h2>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-personne').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(p => p.ArticleID);
    columns.Add(p => p.ClientID);
    columns.Add(p => p.UserID);
    columns.Add(p => p.DateLocation);
    columns.Add(p => p.DateRetour);
    columns.Add(p => p.EtatLocation);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(p => Html.ActionLink("Editer", "EditLocation", new { id = p.ID }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(p => "<button class='btn btn-default btn-delete-personne' data-id='" + p.ID + "'> <span class='glyphicon glyphicon-remove-circle' /> </button>");

})

<div>
    @Html.ActionLink("Ajouter un nouveau reservation", "EditLocation")
</div>
