
@{
    ViewBag.Title = "ListeLocation";
}

@using GridMvc.Html;
@model IEnumerable<DAL.Location>

<h2>ListeLocation</h2>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-location').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(l => l.LocationID).SetWidth(110);
    columns.Add(l => l.ArticleID).SetWidth(110);
    columns.Add(l => l.CustomerID).SetWidth(110);
    columns.Add(l => l.UserID).SetWidth(110);
    columns.Add(l => l.DateLocation).SetWidth(110);
    columns.Add(l => l.DateBack).SetWidth(110);
    columns.Add(l => l.EtatLocation).SetWidth(110);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .SetWidth(110)
                 .RenderValueAs(l => Html.ActionLink("Editer", "EditLocation", new { id = l.LocationID }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .SetWidth(110)
                 .RenderValueAs(l => "<button class='btn btn-default btn-delete-personne' data-id='" + l.LocationID + "'> <span class='glyphicon glyphicon-remove-circle' /> </button>");

})

<div>
    @Html.ActionLink("Ajouter un nouveau reservation", "EditLocation")
</div>
