
@{
    ViewBag.Title = "Liste des locations";

    <link rel="stylesheet" href="~/Content/style.css" />
}

@using GridMvc.Html;
@model IEnumerable<DAL.Location>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-location').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}

<div class="row">
    <div class="col-lg-3">
        <a href="@Url.Action("EditLocation","Location")" class="btn btn-labeled btn-primary">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Ajouter une location
        </a>
    </div>
</div>

<br />

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(l => l.LocationID).Titled("ID").SetWidth(110);
    columns.Add(l => l.ArticleID).Titled("Article ID").SetWidth(110);
    columns.Add(l => l.CustomerID).Titled("Customer ID").SetWidth(110);
    columns.Add(l => l.UserID).Titled("User ID").SetWidth(110);
    columns.Add(l => l.DateLocation).Format("{0:dd/MM/yyyy}").Titled("Date de location").SetWidth(110);
    columns.Add(l => l.DateBack).Format("{0:dd/MM/yyyy}").Titled("Date de retour").SetWidth(110);
    columns.Add(l => l.Quantity).Titled("Quantité").SetWidth(110);
    columns.Add(l => l.EtatLocation).Titled("Status").SetWidth(110);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .SetWidth(110)
                 .RenderValueAs(l => Html.ActionLink("Editer", "EditLocation", new { id = l.LocationID }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .SetWidth(110)
                 .RenderValueAs(l => "<button class='btn btn-default btn-delete-location' data-id='" + l.LocationID + "'> <span class='glyphicon glyphicon-remove-circle' /> </button>");

})
