
@{
    ViewBag.Title = "Catégorie";
}

@using GridMvc.Html;

@model IEnumerable<DAL.Categorie>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-categorie').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(ca => ca.ID).Titled("ID")
                               .Filterable(true);
    columns.Add(ca => ca.Nom).Titled("Nom")
                                 .Filterable(true);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(ca => Html.ActionLink(" ", "EditCategorie", new { id = ca.ID }, new { @class = "glyphicon glyphicon-pencil" }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(ca => "<button class='btn btn-default btn-delete-categorie' data-id='" + ca.ID + "'> <span class='glyphicon glyphicon-trash' /> </button>");
}).WithPaging(7)

<div>
    @Html.ActionLink("Ajouter un nouveau categorie", "EditCategorie")
</div>
