
@{
    ViewBag.Title = "Facture";

    <link rel="stylesheet" href="~/Content/style.css" />
}


@using GridMvc.Html;


@model IEnumerable <DAL.Facture>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-facture').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>
}

<div class="row">
    <div class="col-lg-3">
        <a href="@Url.Action("EditFacture","Facture")" class="btn btn-labeled btn-primary">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Ajouter une facture
        </a>
    </div>
</div>

<br/>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(f => f.FactureID).Titled("ID");
    columns.Add(f => f.CustomerName).Titled("Nom de client");
    columns.Add(f => f.User);
    columns.Add(f => f.FactureDate).Format("{0:dd/MM/yyyy}");


    columns.Add().Sanitized(false)
                 .Encoded(false)
                .RenderValueAs(f => Html.ActionLink(" ", "GeneratePDF", new { id = f.FactureID }, new { @class = "glyphicon glyphicon-print" }));

    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(f => Html.ActionLink(" ", "ViewFacture", new { id = f.FactureID }, new { @class = "glyphicon glyphicon-zoom-in" }));

    //columns.Add().Sanitized(false)
    //             .Encoded(false)
    //             .RenderValueAs(f => Html.ActionLink(" ", "EditFacture", new { id = f.FactureID }, new { @class = "glyphicon glyphicon-pencil" }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(f => "<button class='btn btn-default btn-delete-facture' data-id='" + f.FactureID + "'> <span class='glyphicon glyphicon-trash' /> </button>");
}).WithPaging(7)
