
@{
    ViewBag.Title = "Liste des utilisateurs";

    <link rel="stylesheet" href="~/Content/style.css" />
}


@using GridMvc.Html;

@model IEnumerable<DAL.Utilisateur>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-delete-user').click(function (event) {
                var boutonClique = $(event.target).closest('button');

                var idASupprimer = $(boutonClique).attr('data-id');

                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: idASupprimer },
                    success: function (data) {
                        if (data.Suppression == "OK") {
                            $(boutonClique).closest("tr").fadeOut(400, function () {
                                $(this).remove();
                            })
                        }
                    }
                })
            });
        });
    </script>

}


<div class="row">
    <div class="col-lg-3">
        <a href="@Url.Action("EditUser","User")" class="btn btn-labeled btn-primary">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Ajouter un utilisateur
        </a>
    </div>
</div>

<br/>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(u => u.UserID).Titled("ID");
    columns.Add(u => u.Name).Titled("Nom");
    columns.Add(u => u.LastName).Titled("Prénom")
                              .Filterable(true);
    columns.Add(u => u.BirthDate).Titled("Date de naissance")
                                         .Filterable(true);
    columns.Add(u => u.Address).Titled("Adresse")
                               .Filterable(true);
    columns.Add(u => u.PostalCode).Titled("Code Postal");
    columns.Add(u => u.City).Titled("Ville")
                             .Filterable(true);
    columns.Add(u => u.Email).Titled("Email")
                                             .Filterable(true);
    columns.Add(u => u.UserName).Titled("Pseudo")
                              .Filterable(true);
    columns.Add(u => u.Password).Titled("Mot de passe")
                                    .Filterable(true);
    columns.Add(u => u.Role).Titled("Rôle")
                            .Filterable(true);
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(u => Html.ActionLink("Editer", "EditUser", new { id = u.UserID }));
    columns.Add().Sanitized(false)
                 .Encoded(false)
                 .RenderValueAs(u => "<button class='btn btn-default btn-delete-user' data-id='" + u.UserID + "'> <span class='glyphicon glyphicon-remove-circle' /> </button>");
})

